@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.con1 {
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 250px; /* Add this line */
}

.wrapper {
  width: 1400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; /* Add this line */
}

.con1 h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.wrapper h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.horizontal-line {
  border: none;
  height: 2px;
  background-color: #e0e0e0;
  margin: 20px 0;
  width: 100%;
}
.align-img {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-column {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text-column h2 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
}

.text-column ul {
  list-style: disc inside none;
  padding-left: 0;
}

.text-column li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.text-column li strong {
  color: #fff;
  font-weight: 700;
}

.text-column ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0;
}

.team-member {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

#f-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#f-logo,
.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.team-member h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #fff;
}

.team-member p {
  margin: 0;
  font-size: 16px;
  color: #e0e0e0;
}

/* Spacer element */
.spacer {
  height: 50px; /* Adjust the height as needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }

  .text-column {
    padding: 10px;
  }

  .text-column h2 {
    font-size: 20px;
  }

  .text-column li {
    font-size: 16px;
  }

  .team-member img {
    width: 120px;
    height: 120px;
  }

  .team-member h3 {
    font-size: 18px;
  }

  .team-member p {
    font-size: 14px;
  }
}

#f-logo:nth-child(2) {
  transition-delay: 100ms;
}

#f-logo:nth-child(3) {
  transition-delay: 100ms;
}

#f-logo:nth-child(4) {
  transition-delay: 100ms;
}
#f-logo:nth-child(4) {
  transition-delay: 100ms;
}

#f-logo:nth-child(4) {
  transition-delay: 100ms;
}
