@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Home Page Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Wrapper Styles */
.wrapper {
  width: 750px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 300px;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 40px 35px 55px;
  margin: 0 auto 20px; /* Centered and added bottom margin for spacing */
  transition: margin-top 0.3s ease; /* Added transition for hover effect */
}

.top-card {
  height: auto; /* Adjusted to fit content */
  padding-bottom: 80px;
}

.wrapper:hover {
  margin-top: 5px;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 85%;
  color: #fff;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card {
  width: 100%; /* Full width for transparent cards */
  background: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 1; /* Set initial opacity */
  transition: margin-top 0.3s ease, opacity 0.3s ease; /* Added transition for opacity */
}

.card:hover {
  margin-top: 5px;
  opacity: 0.7; /* Change opacity on hover */
}

.card img {
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 50%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

#features,
#courses {
  margin-bottom: 100px;
}

.feature,
.course-category {
  width: 100%; /* Full width for transparent cards */
  background: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: margin-top 0.3s ease; /* Added transition for hover effect */
}

.feature:hover,
.course-category:hover {
  margin-top: 5px;
}

.feature img,
.course-category img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Button Styles */
.btn {
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s ease; /* Added transition for hover effect */
}

.btn:hover {
  background-color: #f0f0f0; /* Darker background on hover */
}

/* New styles for the login button in the wrapper section */
.wrapper .btn-login {
  width: auto; /* Set the width to auto */
  max-width: 200px; /* Maximum width for the button */
  margin: 10px auto 0; /* Center the button and add some top margin */
  display: block; /* Make sure the button behaves as a block element for centering */
}

.HomeText {
  display: block;
  text-align: center;
  width: 100%;
}

.text {
  font-size: 10vw;
  color: #fff;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10) forwards,
    cursor 0.4s step-end infinite alternate;
  margin: 0 auto;
  background: linear-gradient(to right, #2d0b00, #ffd700);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

/* Media Query for Responsive Design */
@media (max-width: 576px) {
  .wrapper {
    width: 90%; /* Reduce wrapper width on smaller screens */
    padding: 20px; /* Adjust padding */
  }
  footer {
    margin-bottom: 2px;
  }
  h3.footer-link {
    text-decoration: underline;
    margin-bottom: 10px;
  }
  address {
    /* margin-top: -40px; */
  }

  .card-container {
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }

  .btn {
    width: 100%; /* Full width button on small screens */
  }

  .top-card {
    height: 200px; /* Adjusted to fit content */
    width: auto;
  }

  .card {
    margin-bottom: 60px; /* Increase bottom margin for last card visibility */
  }
  .HomeText .text {
    font-size: 35px;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%; /* Let the text expand to its full width */
  }
}

.card {
  width: 100%; /* Full width for transparent cards */
  background: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Move down initially */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Smooth transition */
}

.card img {
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 50%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.card-content h3 {
  color: rgb(7, 229, 245);
}
