/* Home Page Styles */

/* Body Styles */
body {
  overflow: auto;
  font-size: 14px;
}

/* Wrapper Styles */
.wrapper,
.card-container {
  width: 750px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 300px;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 40px 35px 55px;
  margin: 0 auto 20px; /* Centered and added bottom margin for spacing */
  transition: margin-top 0.3s ease; /* Added transition for hover effect */
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
}

.card-container {
  width: 85%;
  color: #fff;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card img {
  max-width: 50%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0078c2;
  margin-bottom: 6px;
}

.card-content p {
  line-height: 2.5;
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

#features,
#courses,
.card-container {
  margin-bottom: 100px; /* Reduced margin for spacing */
}

.feature,
.course-category,
.card {
  width: 100%; /* Full width for transparent cards */
  background: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: margin-top 0.3s ease; /* Added transition for hover effect */
}

.feature:hover,
.course-category:hover,
.card:hover {
  margin-top: 5px;
}

.feature img,
.course-category img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Button Styles */
.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s ease; /* Added transition for hover effect */
}

.btn:hover {
  background-color: #f0f0f0; /* Darker background on hover */
}

/* Media Query for Responsive Design */
@media (max-width: 576px) {
  .input-box .input-field {
    width: 100%;
    margin: 10px 0;
  }
  .con1 {
    margin-top: 90px;
    margin-bottom: 10px;
  }
}

.HomeText {
  display: block;
  text-align: center;
  width: 100%;
}

.text {
  font-size: 10vw;
  color: #fff;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10) forwards,
    cursor 0.4s step-end infinite alternate;
  margin: 0 auto;
  background: linear-gradient(to right, #2d0b00, #ffd700);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%; /* Let the text expand to its full width */
  }
}

.card:nth-child(2) {
  transition-delay: 300ms;
}

.card:nth-child(3) {
  transition-delay: 200ms;
}

.card:nth-child(4) {
  transition-delay: 100ms;
}
